body {
    background-image:url("swirl_pattern.png") 
}

header {
    background-color:#e9e9e9;
    font-family: CaviarDreams;
    font-variant: small-caps; 
    font-size: 18px; 
    padding-top: 5px;
    padding-bottom: 5px;
    
}

header li {
    display:inline-block;
    margin-left: 15px;
    margin-right: 15px;
    width: 29%;
    text-align:center;  
}

header a:hover{
    color:#F08080;
    
       
}

header.active {
    color:#F08080;
}
    



a { color:gray;
    text-decoration:none;
    
}

div {
    background-color: white; 
    width: 50%;
    margin: auto;
    padding: 30px;
}

@font-face {
    font-family: "CaviarDreams";
    src: url('CaviarDreams.ttf');
}

h1 { font-family: CaviarDreams; 
     font-size: 40px;
     color:#F08080;
     text-align:center;
}

h2 { font-family: CaviarDreams; 
     font-variant: small-caps; 
     font-size: 30px;
     color:#808080;
}

h4 { font-family: arial; 
     font-size: 17px;
    
}

p { font-family: CaviarDreams;
}

li { font-family: arial;
   
}
